{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 60,
  "trailingComma": "none",
  "parser": "typescript",
  "prettier-tslint": true,
  "overrides": [{
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json-stringify",
        "trailingComma": "none"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "trailingComma": "none"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "trailingComma": "none"
      }
    }
  ]
}
